@media (max-width: 840px) {

  .header {
    margin-bottom: 40px;
  }

  .section-offset {
    padding-bottom: 50px;
  }

  .nav__list {
    gap: 10px;
  }

  .possibility__list {
    flex-direction: column;
  }

  .possibility__item-list {
    justify-content: center;
  }

  .possibility__item-right {
    padding: 0;
    justify-content: center;
  }

  .chat-line {
    right: 155px;
  }

  .expansion__list {
    flex-direction: column;
    justify-content: center;
  }

  .gallery__lists-bottom {
    display: none;
  }

}

@media (max-width: 700px) {

  .header__container {
    padding: 25px 20px;
  }

  .hero__container {
    margin-bottom: 57px;
  }

  .hero__title {
    max-width: 434px;
    font-size: 52px;
    line-height: 62px;
  }

  .hero__descr {
    max-width: 448px;
  }

  .hero__background {
    background-image: url("../img/screens-700.svg");
    min-height: 549px;
  }

  .shadow {
    min-height: 328px;
  }

  .nav__list {
    display: none;
  }

  .hero__list {
    flex-wrap: wrap;
    gap: 20px;
  }

  .possibility__item-left {
    margin-bottom: 27px;
  }

  .possibility__descr {
    margin-bottom: 0;
    max-width: 428px;
  }

  .chat-bot {
    max-width: 376px;
    min-height: 406px;
  }

  .chat-line {
    right: 50px;
    max-width: 232px;
    min-height: 160px;
  }

  .expansion__item-right {
    min-height: 500px;
  }

  .expansion__descr {
    max-width: 421px;
  }

  .left-descr {
    max-width: 245px;
  }

  .right-btn {
    margin-bottom: 30px;
    padding: 15px 30px;
  }

  .right-descr {
    max-width: 300px;
  }

  .footer {
    padding: 50px 70px;
  }

  .footer__lists {
    flex-direction: column;
  }

  .footer__item-left {
    align-items: center;
    flex-direction: column;
  }

  .basic {
    margin-right: 97px;
  }

  .resource {
    margin-right: 97px;
  }

  .we {
    margin-right: 97px;
    margin-bottom: 75px;
  }

  .top1 {
    display: none;
  }

  .top2 {
    display: none;
  }

  .top3 {
    display: none;
  }

  .top4 {
    display: none;
  }

  .top1-500 {
    display: block;
    border-radius: 12px;
    width: 323px;
  }

  .top2-500 {
    display: block;
    border-radius: 12px;
    width: 323px;
  }

  .top3-500 {
    display: block;
    border-radius: 12px;
    width: 323px;
  }

  .top4-500 {
    display: block;
    border-radius: 12px;
    width: 323px;
  }

  .partner__item-appstore svg {
    width: 60px;
  }

  .partner__item-android svg {
    width: 60px;
  }

  .partner__item-apiary svg {
    width: 60px;
  }

  .partner__item-basecamp svg {
    width: 56px;
  }

  .partner__item-iconmag svg {
    width: 47px;
  }

  .partner__item-ibm svg {
    width: 83px;
  }

  .reviews__descr {
    max-width: 254px;
  }

}